<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>无聊一下</title>
    <link href="../static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <h3>welcome, {{ session.get("userName") }} 访问
    {{ message }}</h3>

    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/">主界面</a></li>
      <li role="presentation"><a href="/zaxiang">杂项</a></li>
      <li role="presentation"><a href="/tupianlunbo">轮播</a></li>
      <li role="presentation"><a href="/zhuanpan">转盘</a></li>
      <li role="presentation"><a href="/ditu">地图</a></li>
      <li role="presentation"><a href="/biaobai">表白</a></li>

    </ul>

    <link rel="stylesheet" href="../static/zaxiang/css/YlSidler.css">

    <script src="../static/zaxiang/js/jquery.min.js"></script>
    <script src="../static/zaxiang/js/jquery.Yl.Slide.min.js"></script>
		<script>
			$(function() {
				$('.Yl-container').YlSlide({
					wrapper: '.Yl-wrapper',
					slideClass: '.Yl-slide',
					stylePrefix: '.Yl-',
					slideLength: 3,
					pages: true,
					pagination: '.Yl-pagination',
					pagingSelect: '.Yl-pagination-bullet-active',
					autoplay: 25000,
					imgTemplate: {
						0: ['<div class="Yl-img0"></div>'],
						1: ['<div class="Yl-img1"></div>'],
						2: ['<div class="Yl-img2"></div>']
					},
					fontTemplate: {
						0: ['<div class="Yl-font0">一人之下</div>', '<div class="Yl-font1">术之尽头，炁体源流</div>', '<div class="Yl-font2">国漫崛起</div>'],
						1: ['<div class="Yl-font0">画江湖</div>', '<div class="Yl-font1">不良人、侠岚、换世门生、灵主</div>', '<div class="Yl-font2">国漫崛起</div>'],
						2: ['<div class="Yl-font0">镇魂街</div>', '<div class="Yl-font1">末将于禁 愿为曹家世代赴汤蹈火</div>', '<div class="Yl-font2">国漫崛起</div>']
					},
					fontAnimationMode: {
						0: ['fadeInUp', 'fadeInUp', 'slideInLeft'],
						1: ['fadeInUp', 'fadeInUp', 'slideInLeft'],
						2: ['fadeInUp', 'fadeInUp', 'slideInLeft']
					},
					customTemplate: {
						0: ['<div class="Yl-Button"><a href="https://www.bilibili.com/bangumi/play/ss5050/?from=search&seid=12017879378720887466">查看详情</a></div>'],
						1: ['<div class="Yl-Button"><a href="https://search.bilibili.com/all?keyword=%E7%94%BB%E6%B1%9F%E6%B9%96&from_source=banner_search">查看详情</a></div>'],
						2: ['<div class="Yl-Button"><a href="https://www.bilibili.com/bangumi/play/ss3863">查看详情</a></div>']
					},
					callback: function(e) {
						//整个dom加载完成后的回调函数、切换动画前的回调
					},
					before: function(e) {
						//页面切换前的回调函数
					},
					after: function(e) {
						//页面切换完成后的回调函数

					}
				});
			});
		</script>

    <div class="sun_banner">
        <div class="Yl-container"></div>
    </div>

</body>
</html>